.nav{

  height: 100px;
  margin-top: auto;
  padding-top: 0;
background-size: cover;
  font-family: monospace;
  font-size: 25px;
}
h1 {
  color: white;
  align-items: center;
  font-family: monospace;
  font-size: 25px;
}

HTML {
  background: url("back.png");
  background-repeat: no-repeat;
  background-size: cover;

}
img {
  width: 100px;
  float: center;
  padding-top: 0;
  margin-top: 0;
}

.separator{
  width: auto;
  height: 50px;
  background-color: orange;
  padding-left: 0px;
  padding-right: 0px;
}

table, th, td {
    border: 2px SOLID tomato;
    border-collapse: collapse;
    margin-left: 5%;
    background-color: blanchedalmond;
}
th {
    padding: 10px;
}
td{
  height: inherit;
  width: inherit;
}
th {
    text-align: center;
}
#fire{
  background-image: url('fire.jpg');
  height: 250px;
  width: 150px;

}
