h1 {
  color: white;
  align-items: center;
  font-family: monospace;
  font-size: 25px;
  background-color: black;
  display: inline;
}

HTML {
  background: url("back.png");
  background-repeat: no-repeat;
  background-size: cover;

}

.container {
  border: 3px solid red;
  width: auto;
  height: 300px;
  margin-bottom: auto;
  background-color: white;

}


.button1 {
  /* margin: 170px 0px 0px 90px;
  display: inline-block;
    position: absolute; */

}

.poke{
  width: 300px;
  height: 200px;
  display: inline-block;
  position: relative;
  margin:  20px auto;
  text-align: center;
  left: 13%;
}

.poke img {
  /* width: 100%; */
  width: 150px;
  height: 150px;
  margin:  10px auto;
  border-radius: 50%;
}
.button2 {
  /* margin: 20px 0px 0px 345px;
  display: inline-block;
  position: absolute; */
  }


#stats1{
  color:#fff;
  /* width:200px;
  height:25px; */
  background-color: rgba(0,0,0, 0.5);
}
.button3 {
/* margin: 0px 0px 50px 550px;
display: inline-block;
position: absolute; */
}


#content {

}
